body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

* ,
*:before ,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}


hr{
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e5e5e5;
    margin: 40px 0;

}


/*Container*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("assets/img/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.intro__title{
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    
    line-height: 1;
}

.intro__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 25px auto ;
    background-color: #fff;

   
}

.intro__subtitle{
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;

    margin-bottom: 20px;
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align:center;
}




/*Header*/
.header{
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;

}


/*Nav*/
.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}


.nav__link:hover{
    color: #fce38a;
}

.nav__link:hover:after{
    display: block;
}

/*Button*/

.btn{
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.btn:hover{
    background-color: #fff;
    color: black;
}

/*Slider*/

.slider{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;

}

.slider__inner{
    
    display: flex;
    justify-content: space-between;
}

.slider__item{
    width: 22%;
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    padding: 20px 0;
    border-top: 3px solid #fff;
    opacity: .5;
    
}

.slider__item.active{
    opacity: 1;
}



.slider__num{
    font-size: 24px;
    font-weight: 700;
}

/*Section*/

.section{
    padding: 80px 0;
}

.section--devices{
    margin-bottom: 40px;
    padding-bottom: 0;
    background: url(assets/img/intro2.jpg);
    -webkit-background-size:cover;
    background-size: cover;
}

.section--gray{
    background-color: #f8f8f8;
}

.section--clients{
    background: url(assets/img/clients_background.jpg) center no-repeat  ;
    
}

.section--map{
    background: url(assets/img/map.jpg);

}

.section__header{
        width: 100%;
    min-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section__subtitle{
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section__title{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section__title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto ;
    background-color: #f38181;
}

.section__text{
    font-size: 15px;
    color: #999;
}

/*Card*/

.card{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.card__inner{
    position: relative;
    background-color: #95e1d3;
}

.card__item{
    width: 380px;
    
}

.card__item:hover  .card__img{
    transform: translate3d(-10px,-10px,0);
}

.card__item:hover  .card__img img{
    opacity: .2;
}

.card__item:hover  .card__text{
    opacity: 1;
}

.card__img{
    transition: transform .3s linear;
    background:linear-gradient(to bottom,#f38181,#fce38a);
}

.card__img img{
    display: block;
    transition: opacity .1 linear;
}

.card__text{
    opacity: 0;
    transition: opacity .3s linear;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0,-50,0);

}

.card__under{
    text-align: center;
    padding-top: 30px;
}

.card__name{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.card__position{
    font-size: 12px;
    font-style: italic;
    font-weight: 300;

}



/*Statistics*/

.statistics{
    background-color: #95e1d3;
}

.stat{
    display: flex;
}

.stat__item{
    padding: 70px 20px;
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color:#fff;
}

.stat__item:last-child{
    border-right: 1px solid #b5eae0;
    
}

.stat__number{
    margin-bottom: 10px;
    line-height: 1;
    font-size: 72px;
    font-weight: 700;
}

.stat__comment{
    text-transform: uppercase;
    font-size: 14px;
}

/*Services*/

.services{
    display: flex;
}

.services__item{
    flex: 1 1 0;
    padding-left: 85px;
    position: relative;
    padding-right: 35px;
}

.services__icon{
    position: absolute;
    top: 0;
    left: 28px;
    z-index: -1;
}

.services__title{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: #333333;
    margin-bottom: 10px;

}

.services__text{
    font-size: 13px;
    text-align: left;
    color: #999999;
}

/*Devices*/

.devices{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item{
    display: block;
}

.devices__item--iphone{
    position: absolute;
    bottom: -600px;
    right: 400;
    z-index: 1;
}

/*We Do*/

.wedo{
    display: flex;
}

.wedo__item{
    width: 50%;
}


/*Accordion*/

.accordion__item{
    border: 1px solid #e5e5e5;
    margin-bottom: 7px;
}

.accordion__item.active
.accordion__content{
    display: block;
}

.accordion__item
.accordion__header{
    border-bottom: none;
}

.accordion__item.active
.accordion__header:after{
    transform: rotate(-45deg);
}

.accordion__header{
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px 10px 65px;
    position: relative;
    cursor: pointer;
}

.accordion__header:after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 35%;
    right: 20px;
    z-index: 1;
    transform: translateY(-20%)
    rotate(135deg);
}

.accordion__content{
    padding: 15px 20px;
    display: none;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.accordion__title{
    font-size: 15px;
    color: #333;
    text-transform: uppercase;
}

.accordion__icon{
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform:translateY(-40%);
}



/*Reviews*/

.reviews{
    padding: 0 110px;
}

.reviews__item{
    padding-left: 235px;
    position: relative;
}

.reviews__photo{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border: 3px solid #95e1d3;
    
    padding: 40px 40px;
}

.reviews__photo--2{
    border-radius: 50%;
    padding: 0px ;
}

.reviews__text{
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
}

.reviews__author{
    font-size: 24px;
    color: black;
    font-family:  'Kaushan Script', cursive;
}

.reviews__author:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}

/*Social*/

.social{
    display: flex;
    justify-content: center;
}

.social__item{
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    color: #f38181;
    font-size: 30px;
    line-height: 1;
    transition: background .1s linear , color .1s linear;
}

.social__item:last-child{
    border-right: none;
}

.social__item:hover{
    background-color: #f38181;
    color: #fce38a;
    
}

/*Logos*/

.logos{
    display: flex;
    justify-content: space-between;
    top: 50%;
}


/*Works*/

.works{
    display: flex;
    
}

.works__col{
    flex: 1 1 0;
}

.works__item{
    position: relative;
    background:linear-gradient(to bottom,#f38181,#fce38a);
}

.works__item:hover .works__image{
    opacity: .2;
}

.works__item:hover .works__info{
    opacity: 1;
}

.works__image{
    display: block;
    transition: opacity .2s linear;
    max-width: 100%;
    height: auto;
}

.works__info{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
    text-align: center;
    color: #fff;
    padding: 0 15px;
    opacity: 0;
}

.works__title{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.works__text{
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}

/*Clients*/

.clients{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item{
    width: 50%;
    padding: 0 45px 80px 175px;
    position: relative;
}

.clients__photo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.clients__name{
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.clients__prof{
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

.clients__prof:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0 ;
    background-color: #f38181;
}

.clients__text{
    font-size: 12px;
    color: #999999;
}

/*Blog*/

.blog{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.blog__item{
    width: 30%;
    margin: 0 0 0 30px;
    
}

.blog__title{
    font-size: 14px;
    text-transform: uppercase;
}

.blog__title a{
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover{
    text-decoration: underline;
}

.blog__text{
    font-size: 12px;
    color: #999999;
}

.blog__footer{
    font-size: 12px;
}

.blog__footer:before{
    content: "";
    display: block;
    width: 380px;
    height: 0.5px;
    background-color: #e5e5e5;
    margin: 20px 0;
}

.blog__photo{
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__header{
    position: relative;
}

.blog__data{
    text-align: center;
    padding: 10px 15px;
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    background-color: #95e1d3;
    font-size: 15px;
    color: #fff;
    font-style: italic;
}

.blog__data-day{
    line-height: 1;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
}


/*Map*/

.map{
    text-align: center;
}

.map__title{
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
    
}

.map__title a{
    color: inherit;
    text-decoration: none;
}

.map__title a:hover{
    text-decoration: underline;
}

.map__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto ;
    background-color: #f38181;
}


/*Footer*/

.footer{
    padding-top: 65px;
    background-color: #f8f8f8;
}


.footer__col--first{
    width: 40%;
}

.footer__col--second{
    width: 29%;
}

.footer__col--thrid{
    width: 22.5%;
}

.footer__inner{
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    margin-bottom: 30px;
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

.footer__text{
    font-size: 15px;
    color: #999;
    margin-bottom: 30px;
}

.footer__social{
    margin-bottom: 25px;
}

.footer__social-header{
    font-size: 14px;
    color: #333;
    padding-bottom: 15px;

    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b{
    font-style: 18px;
}

.footer__social-content{
    padding-top: 15px;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer__social-content a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 18px;
    color: #95e1d3;
    transition: color .2s linear;
}

.footer__social-content a:hover{
    color:#5d9187;
}

.footer__title{
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0;
}

/*Subscribe*/

.subscribe{
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input{
    width: 60%;
    height: 40px;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #333;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    outline: none;
    border-right: none;
}

.subscribe__input:focus{
    border-color: #95e1d3;
}

.subscribe__input::placeholder{
    color: #ccc;

}

.subscribe__button{
    width: 40%;
    padding: 12px 30px;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    transition: background .2s linear;
}

.subscribe__button:hover{
    background-color: #5d9187;
}


/*Blogs*/

.blogs__item{
    display: flex;
    margin-bottom: 20px;
}

.blogs__content{
    padding-left: 20px;
    color: #999;
    font-size: 10px;
}

.blogs__title{
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.blogs__title:hover{
    text-decoration: underline;
}

/*Instagram*/

.instagram{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
}

.instagram__item{
    width: 32.3333333%;
    flex: 1 1 0;
    border-bottom: 2px solid #fff;
}



.instagram__item img{
    display: block;
}

.instagram__more{
    font-size: 13px;
    color: #333;
    text-decoration: none;
}

.instagram__more:hover{
    text-decoration: underline;
}


/*Copyright*/

.copyright{
    padding: 20px 0;
    text-align: center;
    color: #333333;
    font-size: 14px;
    border-top: 1px solid #e5e5e5;
}

.copyright span{
    color:#f38181;
}